#BUILD
NODE_ENV="development"
SIGNING_NODE_WIF=developers_only_wif
SIGNING_NODE_ADDRESS=bitcoincash:qzqsy2t25z96u0cgxhsntrnkqrw6qkfelqcg9hy7kc
DEFAULT_GATEWAY_URL="http://localhost"
DEFAULT_API_URL="http://localhost"
DEFAULT_API_MULTIADDR="/dns4/beta.anyonecanpay.me/tcp/443/wss/p2p/12D3KooWHPSQJQhEzsDtUeJzm49KoAbsYJa2vBboPiEXiQuR1ckC"
ELECTRUM_SERVERS="[{\"address\":\"bch.imaginary.cash\",\"scheme\":\"wss\"},{\"address\":\"electroncash.dk\",\"scheme\":\"wss\"},{\"address\":\"electrum.imaginary.cash\",\"scheme\":\"wss\"}]"
DEV_TIPS_ADDRESS=bitcoincash:qpclad9r4zah39du3n55xj3mwdrkeuh0nyx8dqfqut

#COMMON
FQDN="localhost"
DOCKER_VOLUMES_ROOT="/home/testuser/flipstarter"

#IPFS
IPFS_PEER_ID=12D3KooWDCSHFFvfyeedeuH3JrnTUq1fySZE5izMTm2JTZDty142
IPFS_PRIVATE_KEY=CAESQNMK+QKr4UG4RtNk2/y8XhlfGuB65P+n4kGXE0xIWEyYMjp8949x1ccHXGh7h88fGDCoN/McWtF0sQglPGMiWx8=
IPFS_LIBP2P_KEY=k51qzi5uqu5dlsgplf98p33abbwpib0aqahdpnx47lzzysrnmoenslmoi7i721
USE_SUBDOMAINS=false

#NGINX
HTTPS_ONLY="0"